#content.ac_downloads h1 + div {
    margin-bottom: 2em;
}

@media all and (max-width: 700px) {
    #content.ac_downloads h1 {
        font-size: 1.8em;
    }
    #content.ac_downloads h1 + div {
        text-align: justify;
    }
}

#content.ac_downloads a.btn {
    display: block;
    text-decoration: none;
    margin: 0;
    padding: 15px;
    background: #4986b7;
    color: #fff;
    text-transform: uppercase;
}

#content.ac_downloads section > header {
    background: #4986b7;
    padding: 0.5em 10px;
    margin-top: 1em;
    color: white;
}

#content.ac_downloads section > header span {
    margin-right: 0.5em;
}

#content.ac_downloads section .collapse:before {
    /* content: "−"; */
    content: "▲";
}

#content.ac_downloads section .expand:before {
    /* content: "+"; */
    content: "▼";
}

#content.ac_downloads section > header > h2 {
    margin: 0;
    display: inline;
}

#content.ac_downloads article {
    padding: 0 10px;
    display: none;
}

#content.ac_downloads .one-section > article {
    display: block;
}

#content.ac_downloads article:nth-child(odd) {background: #A0C6E6}

#content.ac_downloads article > header, #content.ac_downloads article > aside {
    display: table-cell;
}

@media all and (max-width: 700px) {
    #content.ac_downloads article > aside {
        display: block;
        padding-bottom: 0.5em;
    }
}

#content.ac_downloads article > header {
    width: 100%;
}

#content.ac_downloads header > p {
    margin: 0 0.5em 0.5em 1em;
    text-align: justify;
    font-style: italic;
}

#content.ac_downloads article > aside {
    text-align: center;
    vertical-align: middle;
}